{% extends 'base.html' %}

{% block title %} Events Manager {% endblock %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
             {{ error }}
        </div>
    {% endif %}
    <h1>Introduction</h1>
    <p class="promo-body-text">
        Device Manager is the administrative interface to devices in the Printing Lab. Through this web application,
        users can manage existing devices and send printing jobs to 3D printer and monitor/control the printing tasks.
    </p>
    <hr/>
    <p class="small-body-text">
        Main features of Device Manager are as follows:
    </p>
    <h3 class="user-events"><a href="{{ url_for('user_events.user_events') }}"> User Events </a></h3>
    <ul class="small-body-text">
        <li>View events (published and pending)</li>
        <li>Manage events (create, view, edit, delete, and publish)</li>
        <li>Send notifications</li>
    </ul>
    <h3 class="user-events"><a href="{{ url_for('event.source', sourceId=0) }}"> Calendar Events </a></h3>
    <ul class="small-body-text">
        <li>View event sources</li>
        <li>View events (published and pending)</li>
        <li>Manage events (publish, make pending, and delete)</li>
        <li>Manage calendars (add and approve)</li>
        <li>Schedule daily downloads</li>
    </ul>
    {% if gitinfo %}
{#    <div class="navbar container fixed-bottom">#}
{#        <div class="font-weight-light">{{ gitinfo }}</div>#}
{#    </div>#}
    {% endif %}
{% endblock %}