{% extends 'base.html' %}
{% block title %}
  Devices
{% endblock %}

{% block create_event %}
  {% if g.user["access"] == "both" or g.user["access"] == "user" or g.user["access"] == "source" %}
  <a class="orange-background-button" style="display: none" href="{{ url_for('user_events.add_new_event') }}" role="button">Create Event</a>
  {% endif %}
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{url_for('management.home', title="Campaigns")}}">Campaigns</a></li>
    <li class="breadcrumb-item active" aria-current="page">All</li>
  </ol>
</nav>

    <div>
    <div class="row justify-content-center" style="margin-right:300px">
    <div class="col form-check" style="visibility: hidden">
{#            <h5 class="user-group-text">Group</h5>#}
            <div class="form-check form-check-inline">
          <label class="form-check-label" for="materialInline1"><h5> Group </h5></label>
        </div>
    <div class="form-check form-check-inline align-middle">
{#    <select name="group" id="group" class="form-control w-auto float-left mt-2" data-style="btn-outline-primary" title="Group...">#}
{#          <option value="all" {% if selected_group == 'all' %}selected{% endif %}>All Groups</option>#}
{#      {% for group in groups %}#}
{#          <option value="{{group['id']}}" id={{group['id']}} {% if selected_group == group['id'] %}selected{% endif %}>{{group['title']}}</option>#}
{#      {% endfor %}#}
{#    </select>#}
    <div class="eventsmanager-create-dropdown-menu user-group-create-menu">
      {% if selected_group == 'all' or selected_group == none %}
          <input type="text" name="createdByGroupId" id="createdByGroupId" class="dropdown-menu-inputfield" placeholder="All Groups" readonly>
          <input type="hidden" name="group" id="group" value="all">
      {% else %}
          {% for group in groups %}
              {% if selected_group == group['id'] %}
                <input type="text" name="createdByGroupId" id="createdByGroupId" value="{{group['title']}}" class="dropdown-menu-inputfield" placeholder="{{group['title']}}" readonly>
                  <input type="hidden" name="group" id="group" value="{{group['id']}}">
              {% endif %}
          {% endfor %}
      {% endif %}

      <div class="dropdown-line"></div>
      <div class="dropdown-menu-option">
        <div onclick="groupDropDownMenuShow('createdByGroupId', 'All Groups', 'group', 'all')" class="usergroup-display-none dropdown-menu-option-item menu-item-text"> All Groups </div>
          {% for group in groups %}
                <div onclick="groupDropDownMenuShow('createdByGroupId', '{{group['title']}}', 'group', '{{group['id']}}')" class="usergroup-display-none dropdown-menu-option-item menu-item-text"> {{group['title']}} </div>
            {% endfor %}
      </div>
    </div>
    </div>
    <div class="form-check form-check-inline align-middle left-title">
      <h1>User Events</h1>&nbsp
    </div>
    </div>
    </div>

    <!-- filter and select operations -->
    <div class="row justify-content-around">
      <!--  checkbox group -->

      <div class="col form-check">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="materialInline1"><h4>Show </h4></label>
        </div>
        <div class="form-check form-check-inline align-middle">
          <input type="checkbox" class="filter-checkbox form-check-input" id="materialInline1" {% if "approved" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline1">
              <!-- temporary change Approved to Published-->
            <span class="badge badge-pill badge-success small-body-text">Running </span>
          </label>
        </div>
        <!-- comment out disapproved
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="materialInline2" {% if "disapproved" in select_status %}checked{%endif%}>
            <label class="form-check-label" for="materialInline2">
              <span class="badge badge-pill badge-danger">Disapproved </span>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="materialInline3" {% if "published" in select_status %}checked{%endif%}>
            <label class="form-check-label" for="materialInline3">
              <span class="badge badge-pill badge-info">Published </span>
            </label>
        </div>
         -->
        <div class="form-check form-check-inline align-middle">
          <input type="checkbox" class="filter-checkbox form-check-input" id="materialInline4" {% if "pending" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline4">
            <span class="badge badge-pill badge-info small-body-text">Done </span>
          </label>
        </div>
        <div class="form-check form-check-inline align-middle" style="visibility: hidden">
          <input type="checkbox" class="filter-checkbox form-check-input" id="materialInline5" {% if "hide_past" in select_status %}checked{%endif%}>
          <label class="form-check-label" for="materialInline5">
            <span class="badge badge-pill badge-hide-past-events small-body-text">Hide Past Events </span>
          </label>
        </div>
      </div>
      <!-- Search form -->
      <div class="form-check form-check-inline row justify-content-end" >
{#        <div style="margin-right: 2px">#}
        <div style="visibility: hidden">
            <span>From</span>
          <input type="date" id="from" value="{{start}}" max="9999-12-31"/>
            <span>to</span>
          <input type="date" id="to" value="{{end}}" max="9999-12-31"/>
            <button id="time-range-reset" type="button" class="grey-background-button" style="margin-bottom: 3px" onclick="document.getElementById('from').value='';document.getElementById('to').value=''">Reset</button>
        </div>

{#      <select title="Events Per Page" id="per_page" class="form-control w-auto">#}
{#          {% for key in page_config %}#}
{#              <option value = "{{key}}"{% if per_page == key %}selected{% endif %}>{{key}}</option>#}
{#          {% endfor %}#}
{#      </select>#}

      <div class="perpage-create-menu eventsmanager-perpage-dropdown-menu">
        <input type="text" id="per_page" name="per_page" value='{{ per_page }}' class="form-control dropdown-menu-inputfield" placeholder="Choose events per page" readonly>
          <div class="dropdown-line"></div>
          <div class="dropdown-menu-option">
              {% for key in page_config %}
                    <div onclick="dropDownMenuShow('per_page', '{{key}}')" class="perpage-display-none dropdown-menu-option-item menu-item-text"> {{key}} </div>
              {% endfor %}
          </div>
       </div>
    </div>

      <span title="Events Per Page" style="margin-top: 5px">Events Per Page</span>
      </div>
    <!-- comment out search GUI
      <form class="form-inline" id ="searchform" action="{{ url_for('user_events.user_events')}}" method="post">
        <div>
          <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <input type="text" class="form-control" name = "searchInput" placeholder="Search Events..." aria-label="Search">
        </div>
      </form>
      -->
    </div>


    <div class="row row-content">
      <div class="col-12">
        <hr class="divider"/>
        <div id = "accordion">
          {% for eventID in posts_dic%}
            <div class="card">
              <div class="card-header" role="tab", id = "head">
                <div class = "col-12 col-md-11" style="overflow: hidden; padding-top: 3px; padding-bottom: 3px">
                  <a href="{{ url_for('device.start_campaign') }}" class="btn btn-default ml-auto float-left" >
                      {% if posts_dic[eventID][0].title|length > 76 %}
                      <h5 class="mb-0" align="left" style="width: 680px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap">{{ posts_dic[eventID][0].campaignName }}</h5>
                      {% else %}
                      <h5 class="mb-0" align="left" style="overflow:hidden; white-space:nowrap">{{ posts_dic[eventID][0].campaignName }}</h5>
                      {% endif %}
                  </a>
{#                  <div>#}
{#                      {% if posts_dic[eventID][0].isConnected %}#}
{#                          <div class="badge badge-pill badge-primary small-body-text connected-badge super-event-badge-text">Connected</div>#}
{#                      {% else %}#}
{#                          <div class="badge badge-pill badge-primary small-body-text disconnected-badge super-event-badge-text">Disconnected</div>#}
{#                      {% endif %}#}
{#                  </div>#}
                </div>

{#                <div class = "col-12 col-md-11" style="overflow: hidden; padding-top: 3px; padding-bottom: 3px">#}
{#                     <div class="form-check form-check-inline align-right">#}
{#                          <label class="form-check-label" for="materialInline4">#}
{#                            <a class="notification-button" role="button" onclick="deviceActivate({{ posts_dic[eventID][0]['_id'] }})">Activate</a>#}
{#                          </label>#}
{#                      </div>#}
{##}
{#                      <div class="form-check form-check-inline align-right">#}
{#                          <label class="form-check-label" for="materialInline4">#}
{#                            <a class="white-background-button" role="button" onclick="deviceDeactivate({{ posts_dic[eventID][0]['_id'] }})">Deactivate</a>#}
{#                          </label>#}
{#                      </div>#}
{#                </div>#}
                
              </div>
          </div>
        {% endfor%}
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
  {{ pagination_links }}
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'events/select_status.html' %}
  <script src="..\static\js\user-events.js"></script>
  <script>
        function deviceActivate(deviceID) {
             $.ajax({
                url: "{{ url_for('devices_listing.activate') }}",
                dataType: 'json',
                type: 'POST',
                data: {
                    id: deviceID,
                }
            }).always(function () {
                location.reload(true);
            });
        }
        function deviceDeactivate(deviceID) {
            $.ajax({
                url: "{{ url_for('devices_listing.deactivate') }}",
                dataType: 'json',
                type: 'POST',
                data: {
                    id: deviceID,
                }
            }).always(function () {
                location.reload(true);
            });
        }
        function dropDownMenuShow(id, value) {
              document.getElementById(id).value = value
          }
        $(document).on("input keypress paste change", ".dropdown-menu-inputfield", function () {
            console.log("usergroup change");
        });
        function usergroupChange() {
            console.log("usereventGroupChange");
            data = document.getElementById('group').value
             $.ajax({
                url: "{{ url_for('user_events.user_events') }}",
                dataType: 'json',
                type: 'POST',
                data: {
                    group: data,
                },
            }).always(function () {
                location.reload(true);
            });
        }
        function perpageChange() {
            console.log("per page change");
            $.ajax({
                url: "{{ url_for('user_events.user_events') }}",
                dataType: 'json',
                type: 'POST',
                data: {
                    per_page: document.getElementById('per_page').value,
                },
            }).always(function () {
                location.reload(true);
            });
        }
        function groupDropDownMenuShow(title, titlevalue, id, idvalue) {
          document.getElementById(id).value = idvalue
          document.getElementById(title).value = titlevalue
      }
      class Dropdownmenu {
          constructor(selector, display) {
              this.menu = document.querySelector(selector)
              this.display = display
          }
          onclick() {
             let self = this
             this.menu.onclick = function() {
                 console.log("onclick() click");
                 self.menu.classList.toggle('active')
                 if (self.menu.classList.contains('active')) {
                      Array.from($(self)[0].menu.children)
                         .filter(child => child.classList.contains("dropdown-line"))[0].style.display = "inherit"
                      $(self.display).css({"display": "block"})
                 } else {
                      Array.from($(self)[0].menu.children)
                         .filter(child => child.classList.contains("dropdown-line"))[0].style.display = "none"
                      $(self.display).css({"display": "none"})
                     {#usergroupChange()#}
                     if (self.menu.classList.contains('perpage-create-menu')) {
                         perpageChange()
                     }
                     if (self.menu.classList.contains('user-group-create-menu')) {
                         usergroupChange()
                     }
                 }
             };
          }
      }
      usergroupmenu = new Dropdownmenu('.user-group-create-menu', '.usergroup-display-none')
      usergroupmenu.onclick()
      perpagemenu = new Dropdownmenu('.perpage-create-menu', '.perpage-display-none')
      perpagemenu.onclick()
      $( document ).ready(function() {
          const pagination = $(".pagination")
          const left_href = pagination.children(":first").children(":first").attr('href');
          if (left_href === undefined) {
              pagination.children(":first").replaceWith(
                  $('<li class="page-item"><img class="page-link pagination-left" src="{{ url_for('static',filename = 'pagination-triangle-reversed.svg') }}"> </li>')
              );
          } else {
              pagination.children(":first").replaceWith(
                  $('<li class="page-item"> <a href="' + left_href + '"> <img class="page-link pagination-left" src="{{ url_for('static',filename = 'pagination-triangle-reversed.svg') }}"></a> </li>')
              );
          }
          const right_href = pagination.children(":last").children(":first").attr('href')
          if (right_href === undefined) {
              pagination.children(":last").replaceWith(
                  $('<li class="page-item"> <img class="page-link pagination-right" src="{{ url_for('static',filename = 'pagination-triangle.svg') }}"> </li>')
              );
          } else {
              pagination.children(":last").replaceWith(
                  $('<li class="page-item"> <a href="' + right_href + '"> <img class="page-link pagination-right" src="{{ url_for('static',filename = 'pagination-triangle.svg') }}"> </a> </li>')
              );
          }
      });
  </script>

{% endblock %}


{% block styles %}
  {{ super()}}
  <style>
  .date {
      font-size: small;
  }
  </style>
{% endblock %}
